@media (max-width: 	1366px) {
	html {
		font-size: 7.1px;	
	}
}
@media (max-width: 	1080px) {
	html {
		font-size: 5.59px;
	}
}
@media (max-width: 	1280px) {
	html {
		font-size: 6.645px;
	}
}
@media (max-width: 	1024px) {
	html {
		font-size: 5.3px;
	}
	.article-1__section-2_block {
		margin-right: -1.2px;
	}
}
@media (max-width: 	768px) {
	html {
		font-size: 3.95px;
	}
	.article-1__section-2_block {
		margin-right: -0.9px;
	}
}
@media (max-width: 	480px) {
	html {
		font-size: 2.43px;
	}
	.hamburger {
		position: fixed;
		top: 30rem;
		right: 20rem;
		background-color: #fff;
		border-radius: 50%;
		width: 25rem;
		height: 25rem;
		padding-top: 6.75rem;
		box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
		z-index: 99;
	}
	.hamburger span {
		display: block;
		margin: 6px auto;
		background-color: #0023ff;
		height: 2px;
		width: 50%;
	}
	header > nav {
		position: fixed;
		height: 130vh;
    	width: 190rem;
    	background: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
    	z-index: 99;
    	margin-left: 0;
    	margin-top: 0;
    	transform: translateX(101%);
		transition: all 0.2s;
	}
	.list_menu ol {
		text-align: center;
	}
	.list_menu li {
		display: block;
    	margin-top: 25rem;
	}
	header > nav > ol > li > a {
		font-size: 6.5rem;
	}
	#main-menu:target {
		transform: translateX(0);
	}
	.button {
		border: solid 1px #cccccc;
		font-size: 3.5rem;
		width: 27rem;
		height: 10rem;
		font-weight: 400;
	}
	aside {
		height: 84rem;
	}
	aside:hover {
		box-shadow: none;
	}
	.aside_1, .aside_2, .aside_3 {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	.aside_1 img {
		width: 14rem;
	}
	.aside_2 img {
		width: 14rem;
	}
	.aside_3 img {
		width: 14rem;
	}
	aside > h3 {
		font-size: 7rem;
	}
	aside p {
		font-size: 3.8rem;
	}
	.article-1__section-1 h2 {
		font-size: 10rem;
		top: 22.5rem;
		left: 25rem;
	}
	.article-1__section-1 p {
		font-size: 3.4rem;
		top: 41.8rem;
		left: 12rem;
	}
	.article-1__section-1 button {
		top: 73rem;
		left: 83rem;
	}
	.article-1__section-1::before {
		left: 129rem;
		top: 36.2rem;
	}
	.article-1__section-2 h2 {
		font-size: 10rem;
    	left: 25rem;
    	top: 107rem;
	}
	.article-1__section-2_block {
		margin-right: -0.6px;
	}
	.article-2 {
		height: 105rem;
	}
	.article-2 h2 {
		font-size: 10rem;
    	left: 25rem;
    	top: 17rem;
	}
	.article-2 > section {
		width: 87rem;
	}
	.article-2__section-1 {
		left: 12.2rem;
    	top: 29.5rem;
	}
	.article-2__section-2 {
		left: 12.2rem;
    	top: 57rem;
	}
	.article-2__section-3 {
		top: 29.5rem;
		left: 100rem;
	}
	.article-2__section-4 {
		top: 57rem;
		left: 100rem;
	}
	.article-2 section h3 {
		font-size: 5rem;
	}
	.article-2 section p {
		font-size: 3rem;
	}
	.article-3 {
		height: 80rem;
	}
	.article-3 h2 {
		font-size: 10rem;
    	left: 25rem;
	}
	.quotes {
		font-size: 11rem;
		left: 7rem;
	}
	.article-3 blockquote {
		width: 102rem;
		left: 14rem;
	}
	.article-3 blockquote p {
		font-size: 3.5rem;
    	line-height: 1.7;
	}
	.article-3 blockquote cite {
		font-size: 3.8rem;
	}
	.article-3::before {
		width: 74.7rem;
	}
	.article-3 button {
		left: 83rem;
    	top: 54rem;
	}
	.article-4 {
		height: 100rem;
	}
	.article-4 h2 {
		font-size: 10rem;
    	left: 25rem;
	}
	.article-4 section {
		width: 57rem;
	}
	.article-4__section-1 {
		left: 12.2rem;
    	top: 31rem;
	}
	.article-4__section-2 {
		left: 71.3rem;
    	top: 31rem;
	}
	.article-4__section-3 {
		left: 133.2rem;
    	top: 31rem;
	}
	.time {
		font-size: 10rem;
	}
	.article-4 section h3 {
		font-size: 4rem;
	}
	.article-4 section p {
		font-size: 2.9rem;
	}
	.may {
		font-size: 3.1rem;
	}
	.up {
		width: 32rem;
    	height: 32rem;
    	bottom: -20rem;
	}
	.up::before {
		font-size: 14rem;
	}
	footer nav ol li span::before {
		border: solid 1px #ffffff;
		width: 10rem;
		height: 10rem;
		line-height: 10rem;
	}
	.fa {
		font-size: 4.5rem;
	}
	footer nav li a {
		font-size: 2.5rem;
	}
	footer nav ol:nth-child(2) li {
		margin-top: 3rem;
	}
	footer nav ol:nth-child(2) li span::before {
		font-size: 7.2rem;
		margin-left: 5rem;
	}
}